body {
  font-family: "Helvetica Neue", Helvetica;
  color: maroon;
  
  background-color: #D8D4C2;
  background-size: 100% auto;
  background-repeat: no-repeat;
	background-image: url("anthony.jpg");
  
  text-align: center;
}

.h1 {
  
  font-size: 280%;
}

.h2 {
  font-size: 130%;
}

.link {
  display: inline-block;
  background-color: #555;
  opacity: 0.64;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  
  text-size: 4em;
}

.link a:visited, a:link, a:active {
  color: #000;
  text-decoration: none;
}

