body {
  font-family: Georgia;
	background-image: url("anthony.jpg");
  color: maroon;
}

.h1 {
  text-align: center;
  font-size: 200%;
}

.h2 {
  font-size: 140%;
}

.a {
  text-decoration: none;
}

