.top-stuff {
	background-color: #dcdcdc;
	padding-top: 1rem;
	margin-bottom: 0;
}
.title-subtitle-container {
	margin: 0;
	padding: 0;
}
.title-container a {
	text-decoration: none;
}
.title-container h1 {
	margin: 0;
	color: #181818;
	font-size: 2.5rem;
	font-weight: 200;
	text-align: center;
	font-family: 'Geogia';
}
.subtitle-centainer {
	margin-bottom: 1rem;
}
.subtitle-centainer p {
	margin: 0 auto;
	font-size: 1.1rem;
	font-weight: 400;
	color: #774040;
	font-family: 'Geogia';
}
.top-social-links {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}





/*----------- Nav -----------*/
.navbar {
	margin: 0;
	padding: 0;
}
.navbar-nav {
	float: none;
	margin:0 auto;
/*	display: block;*/
	text-align: center;
}
.navbar-nav > li {
	display: inline-block;
/*	float:none;*/
}
.navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(119, 85, 85, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
	border-color: rgba(64, 32, 32, 0);
	margin: 0 auto;
}
.navbar-toggler:focus {
/*	outline-color: #775555;*/
}
.menu-text {
	color: #775555;
}
ul.navbar-nav a {
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: 300;
	font-size: 1.5rem;
	color: #554444;
	text-transform: uppercase;
}
ul.navbar-nav a:hover {
	color: #221111;
}
ul.navbar-nav .active a {
	color: #000;
}
ul.navbar-nav .active a:hover {
	color: #000;
}

.light-rule {
	background-color: #bbb;
	margin-top: 0;
/*	max-width: 60rem;*/
}





/*--------- Main ---------*/
html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
html {
/*	background-color: #ddd;*/
}
body {
	background-color: #e8e8e8;
	padding-right: 0;
	margin-right: 0;
}
.text-sm {
	font-size: 14px;
}
.text-xsm {
	font-size: 10px;
}
h2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
/*	margin: 0;*/
	display: inline-block;
/*	font-family: 'Geogia';*/
	font-size: 2rem;
	font-weight: 300;
	color: #803838;
	text-transform: uppercase;
/*	border-bottom-style: dotted;*/
}





.main-container {
/*	max-width: 90rem;*/
}
.full-width-video {
/*	width: 100%;*/
/*	height: calc(100vw / 2);*/
	width: 80vw;
	margin: 0;
	max-width: 60rem;
	height: calc(80vw / 2);
	max-height: 30rem;
}





/*---------------- Index ----------------*/
.index-summary {
/*	margin-top: 1rem;*/
	margin: 0;
	text-align: center;
	color: #664444;
	font-size: 1.6rem;
	font-weight: 300;
}
.index-summary-rule {
	background-color: #664444;
	height: 0.01rem;
}
.index-bio-container {
	max-width: 40rem;
	color: #111;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.5;
}
.index-bio-container p {
/*	#5F7B07*/
	background-color: #c5ccb1;
/*	border-radius: 0.5rem;*/
/*	padding: 2rem;*/
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
/*	margin-top: 2rem;*/
/*	margin-bottom: 2rem;*/
}
.index-bio-container a {
	text-decoration: none;
	color: #886666;
}
.action-links a, .action-links a:hover {
	color: #000;
	padding: 1rem;
	text-decoration: none;
	font-size: 2em;
	border-color: #eee;
	border-width: 0.15rem;
	border-style: solid;
}
.index-photo-container {
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
	padding-right: 0rem;
	margin-left: 0;
	margin-right: 0;
/*	background-color: #163a6b;*/
	background-color: #dbdbdb;
}




/*------------ Services ------------*/
.services-info-container {
	margin-top: 1em;
	line-height: 1.7;
	color: #000;
	font-size: 1.3em;
	font-weight: 300;
}
.services-info-container h3 {
	font-size: 1.5rem;
}
.services-section {
	margin-bottom: 2rem;
}
#why-top-rule {
	margin-top: 2rem;
	margin-bottom: 0;
}
#services-why {
	margin: 0;
	padding: 1rem;
	background-color: #e0e0e0;
}




/*------------ Why ------------*/
#award-section {
	background-color: #d0d0d0;
	padding: 1rem;
/*	text-align: center;*/
	font-size: 1.6rem;
}
#award-inner-section {
	max-width: 50rem;
}
#award-iamge {
/*	margin: 1rem;*/
}





/*------------ Bio ------------*/
.bio-container {
	margin-bottom: 2rem;
}
.bio-body {
	line-height: 1.7;
	color: #000;
	font-size: 1.2rem;
	font-weight: 300;
}
.bio-body a {
  color: #604040;
  text-decoration: none;
}





/*------------ Contact ------------*/
.contact-social-section {
	margin: 0.5rem;
	padding: 1rem;
	background-color: #dadaf0;
	font-size: 0.9rem;
}

.footer {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #444;
}